<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.demo.dao.PostDao">
	<resultMap type="MainPost" id="PostResult">
		<result property="id" column="ID"/>
		<result property="post_author" column="post_author"/>
		<result property="post_date" column="post_date"/>
		<result property="post_title" column="post_title"/>
		<result property="post_status" column="post_status"/>
		<result property="comment_status" column="comment_status"/>
	</resultMap>
	
	<select id="getAll"  resultMap="PostResult">
		select * from wp_posts 
	</select>
	<insert id="add" parameterType="MainPost">
		insert into wp_posts(post_author,post_date,post_content,post_title,post_excerpt,post_status,comment_status,to_ping,pinged,post_content_filtered) 
		values (#{post_author},"0000-00-00","hhhhhh",#{post_title},"hhh",#{post_status},#{comment_status},"hhh","hhh","hhh")
	</insert>
	<delete id="deleteById" parameterType="java.lang.Integer">
		delete from wp_posts where ID=#{id}
	</delete>
	<select id="getById" parameterType="java.lang.Integer" resultMap="PostResult">
		select * from wp_posts where ID=#{id}
	</select>
	<update id="updateById" parameterType="MainPost">
		update wp_posts set post_author=#{post_author} ,post_title=#{post_title}, post_status=#{post_status}, comment_status=#{comment_status} where ID=#{id}
	</update>
</mapper> 
